﻿@model IEnumerable<WebExample.Models.Absensi>

@{
    ViewData["Title"] = "Add Schedule";
    Layout = "~/Views/Shared/_LayoutAbsensi.cshtml";
}

<h2>AddSchedule</h2>

<h4>Album</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddSchedule">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @Html.DisplayNameFor(model => model.nama)
                <select name="pin" class="form-control" required>
                    @foreach (var item in Model)
                    {
                        <option value="@item.id_user">@Html.DisplayFor(modelItem => item.nama)</option>
                    }
                </select>
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(model => model.start_date)
                <input name="start_date" class="form-control" type="date" required />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Schedule">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
