﻿@model IEnumerable<WebExample.Models.Absensi>

@{
    ViewData["Title"] = "Detail Absen";
    Layout = "~/Views/Shared/_LayoutAbsensi.cshtml";
}
<h2> Detail Absen -
@{ 
    int num = 1;
    foreach(var data in Model)
    {
        if (num == 1)
        {
            @Html.DisplayFor(modelItem => data.nama);

        }
        else
        {
            break;
        }

        num++;
    }
}
</h2>
<table>
    @{
        num = 1;
        foreach (var data in Model)
        {
            if (num == 1)
            {
                <tr>
                    <td>Tanggal Lahir</td>
                    <td>: @Html.DisplayFor(modelItem => data.birth_date)</td>
                </tr>
                <tr>
                    <td>Alamat</td>
                    <td>: @Html.DisplayFor(modelItem => data.address)</td>
                </tr>
                <tr>
                    <td>No. HP</td>
                    <td>: @Html.DisplayFor(modelItem => data.hp)</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>: @Html.DisplayFor(modelItem => data.email)</td>
                </tr>
            }
            else
            {
               break;
            }
            num++;
        }
    }
</table>
<form>
    <p>
        @Html.TextBox("start_date", DateTime.Now.AddMonths(-1).ToString("yyyy-MM-dd"), new { @type = "date" }) to @Html.TextBox("end_date", DateTime.Now.ToString("yyyy-MM-dd"), new { @type = "date" }) <button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-filter"></i> Filter</button>
    </p>
</form>
<form>
        <p class="col-sm-2">@Html.TextBox("this_month", "this_month", new { @type = "hidden" }) <button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-calendar"></i> Bulan Ini</button></p>
</form>
<form>
        <p class="col-sm-2">@Html.TextBox("this_week", "this_week", new { @type = "hidden" }) <button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-calendar"></i> Minggu Ini</button></p>
</form>
<form asp-action="ReportDetails">
    <p class="col-sm-2">
        @{ 
            int number = 1;
            foreach(var data in Model)
            {
                if (number == 1)
                {
                    @Html.TextBox("ID", Html.DisplayFor(modelItem => data.pin), new { @type = "hidden" });
                }
                else
                {
                    break;
                }
                number++;
            }
        }
        @Html.TextBox("start_date", DateTime.Now.AddMonths(-1).ToString("yyyy-MM-dd"), new { @type = "hidden" })
        @Html.TextBox("end_date", DateTime.Now.ToString("yyyy-MM-dd"), new { @type = "hidden" })
        <button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-file"></i> Print Laporan</button>
    </p>
</form>

@if (Context == null)
{
    <span>no items found</span>
}
else
{
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.tanggal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.jam_masuk)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.terlambat)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.jam_pulang)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.lembur)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.tanggal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.jam_masuk)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.terlambat)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.jam_pulang)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.lembur)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
