﻿@model IEnumerable<WebExample.Models.Absensi>

@{
    ViewData["Title"] = "Edit Schedule";
    Layout = "~/Views/Shared/_LayoutAbsensi.cshtml";
}

<h2>AddSchedule</h2>

<h4>Album</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditSchedule">
            @foreach (var item in Model)
            {
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    @Html.DisplayNameFor(model => model.nama) : @Html.DisplayFor(modelItem => item.nama)
                    <input type="hidden" name="pin" value="@item.id_user" />
                </div>
                <div class="form-group">
                    @Html.DisplayNameFor(model => model.start_date)
                    <input value="@item.start_date.ToString("yyyy-MM-dd")" name="start_date" class="form-control" type="date" required />
                </div>
            }
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-success" />
                </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Schedule">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
