﻿@model IEnumerable<WebExample.Models.Absensi>

@{
    ViewData["Title"] = "Absensi";
    Layout = "~/Views/Shared/_LayoutAbsensi.cshtml";
}

<h2>Daftar Pegawai</h2>
<form>
    <p class="col-md-4">
        <input type="text" name="str_search" class="form-control" placeholder="Search" />
    </p>
    <p>
        <button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-search"></i> Search</button>
    </p>
</form>
<p>
    <!--<a asp-action="Create">Create New</a>-->
</p>
<table class="table table-responsive">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.no)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nama)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.no)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nama)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.pin })
            </td>
        </tr>
}
    </tbody>
</table>
