﻿@model IEnumerable<WebExample.Models.Absensi>

@{
    ViewData["Title"] = "Detail Absen";
    Layout = "~/Views/Shared/_LayoutAbsensi.cshtml";

}
<h2>Rekap Absensi</h2>
<form>
    <p>
        @Html.TextBox("start_date", DateTime.Now.AddMonths(-1).ToString("yyyy-MM-dd"), new { @type = "date" }) to @Html.TextBox("end_date", DateTime.Now.ToString("yyyy-MM-dd"), new { @type = "date" }) <button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-filter"></i> Filter</button>
    </p>
</form>
<form action="ReportRekap">
    <p>
        @Html.TextBox("start_date", DateTime.Now.AddMonths(-1).ToString("yyyy-MM-dd"), new { @type = "hidden" })
        @Html.TextBox("end_date", DateTime.Now.ToString("yyyy-MM-dd"), new { @type = "hidden" })
        <button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-file"></i> Print Laporan</button>
    </p>
</form>

@if (Context == null)
{
    <span>Pilih Periode Tanggal Terlebih Dahulu</span>
}
else
{
    <table class="table table-responsive">
        <thead>
            <tr>
                <th rowspan="2">
                    @Html.DisplayNameFor(model => model.nama)
                </th>
                <th rowspan="2">
                    @Html.DisplayNameFor(model => model.count_masuk)
                </th>
                <th colspan="2">
                    Terlambat
                </th>
                <th colspan="2">
                    Lembur
                </th>
                <th rowspan="2">
                    @Html.DisplayNameFor(model => model.pulang_cepat)
                </th>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.count_terlambat)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.sum_terlambat)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.count_lembur)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.sum_lembur)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                <tr>
                    <td>
                        <a href="Details/@Html.DisplayFor(modelItem => item.pin)?start_date=@Html.DisplayFor(modelItem => item.start_date)&end_date=@Html.DisplayFor(modelItem => item.end_date)">@Html.DisplayFor(modelItem => item.nama)</a>
                    <td>
                        @Html.DisplayFor(modelItem => item.count_masuk) Hari
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.count_terlambat) Kali
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.sum_terlambat) Menit
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.count_lembur) Kali
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.sum_lembur) Menit
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.pulang_cepat) Kali
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
