﻿@model IEnumerable<WebExample.Models.Absensi>

@{
    ViewData["Title"] = "Detail Absen";
    Layout = "";
    
}
<h2 align="center">Laporan Rekap Absensi</h2>
@if (Context == null)
{
    <span>Pilih Periode Tanggal Terlebih Dahulu</span>
}
else
{
    <table class="table table-responsive" border="1">
        <thead>
            <tr>
                <th rowspan="2">
                    @Html.DisplayNameFor(model => model.nama)
                </th>
                <th rowspan="2">
                    @Html.DisplayNameFor(model => model.count_masuk)
                </th>
                <th colspan="2">
                    Terlambat
                </th>
                <th colspan="2">
                    Lembur
                </th>
                <th rowspan="2">
                    @Html.DisplayNameFor(model => model.pulang_cepat)
                </th>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.count_terlambat)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.sum_terlambat)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.count_lembur)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.sum_lembur)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.nama)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.count_masuk) 
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.count_terlambat) 
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.sum_terlambat) 
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.count_lembur) 
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.sum_lembur) 
                    <td>
                        @Html.DisplayFor(modelItem => item.pulang_cepat) 
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
