﻿@model IEnumerable<WebExample.Models.Absensi>

@{
    ViewData["Title"] = "Detail Absen";
    Layout = "";

}
<h2 align="center">
    Detail Absen -
    @{
    int num = 1;
    foreach(var data in Model)
    {
        if (num == 1)
        {
        @Html.DisplayFor(modelItem => data.nama);

        }
        else
        {
            break;
        }

        num++;
    }
    }
</h2>

@if (Context == null)
{
<span>no items found</span>
}
else
{
<table class="table table-responsive">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.tanggal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.jam_masuk)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.terlambat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.jam_pulang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lembur)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
            {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.tanggal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.jam_masuk)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.terlambat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.jam_pulang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lembur)
            </td>
        </tr>
            }
    </tbody>
</table>
}
