﻿@model IEnumerable<WebExample.Models.Absensi>

@{
    ViewData["Title"] = "Absensi";
    Layout = "~/Views/Shared/_LayoutAbsensi.cshtml";
}

<h2>Daftar Pegawai</h2>

<p>
    <a asp-action="AddSchedule" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Tambah Schedule Baru</a>
</p>
<table class="table table-responsive">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nama)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.start_date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nama)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.start_date)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditSchedule", new { id = item.pin })
            </td>
        </tr>
}
    </tbody>
</table>
