﻿@model IEnumerable<WebExample.Models.Absensi>

@{
    ViewData["Title"] = "Absen Hari Ini";
    Layout = "~/Views/Shared/_LayoutAbsensi.cshtml";
}

<h2>Daftar Hadir Hari Ini</h2>
<p><button onclick="window.print()" class="btn btn-default"><i class="glyphicon glyphicon-print"></i> Print</button></p>
<table class="table table-responsive">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.no)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nama)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.jam_masuk)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.terlambat)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.no)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nama)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.jam_masuk)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.terlambat)
            </td>
        </tr>
}
    </tbody>
</table>
